:root {
    --body-background-color: #FFFFFF;
    --header-background-color:#ECECEC;
    --header-logo-color:#000000;
    --main-title-color:#212121;
    --second-title-color:#757575;
    --accent-color:#2196F3;
    --hero-title-color:#FFFFFF;
    --hero-btn-color:#188ce8;
    --hero-background-color:#2F303A;
    --team-background-color:#F5F4FA;
    --team-item-background-color:#FFFFFF;
    --footer-background-color:#2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --projects-btn-background-color: #F5F4FA;
    --projects-item-background-color:#EEEEEE;
    --typical-padding: 94px;
}